.icon {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.cloudy {
	width: 40px;
	height: 32px;
}

.rain,
.sunny {
	width: 32px;
	height: 32px;
}

.caption {
	font-size: 12px;
	font-weight: bold;
}
